aeneas==1.7.3.0
aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.4
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.2
asyncer==0.0.2
attrs==22.2.0
audioread==3.0.0
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
biopython==1.79
bleach==6.0.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
coloredlogs==15.0.1
comm==0.1.3
contourpy==1.0.7
cryptography==40.0.2
cycler==0.11.0
Cython==0.29.34
dataclassy==1.0.1
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
executing==1.2.0
fabric==3.0.0
fastapi==0.87.0
fastjsonschema==2.17.1
fbs==1.2.1
ffmpeg==1.4
filelock==3.10.4
filetype==1.2.0
Flask==2.2.3
flatbuffers==23.3.3
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.9.2
Gentle==0.1
greenlet==2.0.2
h11==0.14.0
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
ImageHash==4.3.1
imageio==2.26.1
importlib-metadata==6.1.0
importlib-resources==5.12.0
invoke==2.0.0
ipykernel==6.23.3
ipython==8.14.0
ipython-genutils==0.2.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpointer==2.4
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
kneed==0.8.2
lazy_loader==0.2
librosa==0.10.0.post2
llvmlite==0.39.1
lxml==4.9.2
macholib==1.16.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.1
modulegraph==0.19.6
Montreal-Forced-Aligner==2.2.8
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.0
nest-asyncio==1.5.6
networkx==3.0
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.3
numba==0.56.4
numpy==1.23.5
onnxruntime==1.13.1
opencv-python-headless==4.6.0.66
overrides==7.3.1
packaging==23.0
pandas==2.1.2
pandocfilters==1.5.0
paramiko==3.1.0
parso==0.8.3
pefile==2023.2.7
pexpect==4.8.0
pgvector==0.1.6
pickleshare==0.7.5
pip-check-reqs==2.4.4
pipdeptree==2.7.0
platformdirs==3.8.0
pooch==1.6.0
praatio==6.0.0
prometheus-client==0.17.0
prompt-toolkit==3.0.38
protobuf==4.22.1
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py2app==0.28.6
pycparser==2.21
pydantic==1.10.7
pydub==0.25.1
Pygments==2.15.0
PyInstaller==3.4
pyinstaller-hooks-contrib==2023.9
PyMatting==1.1.8
PyNaCl==1.5.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-json-logger==2.0.7
python-multipart==0.0.6
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.1.0
regex==2023.10.3
rembg==2.0.30
requests==2.28.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.4
rich-click==1.6.1
safetensors==0.3.3
scikit-image==0.19.3
scikit-learn==1.3.2
scipy==1.9.3
seaborn==0.12.2
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.5
SQLAlchemy==2.0.9
stack-data==0.6.2
starlette==0.21.0
sympy==1.11.1
terminado==0.17.1
threadpoolctl==3.1.0
tifffile==2023.3.21
tinycss2==1.2.1
tokenizers==0.14.0
torch==2.0.0
torchvision==0.15.1
tornado==6.3
tqdm==4.64.1
traitlets==5.9.0
transformers==4.34.0
typing_extensions==4.5.0
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.15
uvicorn==0.20.0
watchdog==2.1.9
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.2.3
wfst==0.1.0
yarl==1.8.2
zipp==3.15.0
